header.circle--header(style=`background-image: url(${background})`)
    div.bounds
        div.circle--fluid
            div.circle--fluid--cell
                a.logo(href="/")
                    svg(viewBox="0 0 180 146")
                        use(xlink:href="./images/sprite.svg#logo" x="0px" y="0px")
                    h1 #{name}
            div.circle--fluid--cell.align-right
                nav
                    ul.circle--inline
                        li: a(href="/signout") Sign Out