extends shared/layout.pug

block styles
    link(href="https://fonts.googleapis.com/css?family=Work+Sans:400,600" rel="stylesheet")
    link(rel="stylesheet" href="./css/global.css")

block body
    div.message
        div.message--text
            h3 Зачем вы вышли с сайта?
                a(href="/") Вернитесь назад