div.app--tweet
    form
        div.circle--fluid
            div.circle--fluid--cell.circle--fluid--primary.align-bottom.app--tweet--post
                div.app--avatar(style=`background-image: url(${avatar})`)
                    img(src=`${avatar}` alt=`${name}`)
                textarea#tweet-textarea.circle--textarea--input(placeholder="What's happening?")
                strong#tweet-char.app--tweet--char 140
            div.circle--fluid--cell.align-bottom
                button#btnTweet.button-primary Tweet